<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Tools">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>version-policy.php</file>
            <file>checked-write.php</file>
            <file>manifest-schema.php</file>
            <file>git-history.php</file>
            <file>generate-composer.php</file>
            <file>validate-manifest.php</file>
            <file>release-plan.php</file>
            <file>release-transaction.php</file>
            <file>release-gate.php</file>
        </include>
    </source>
</phpunit>
